#content {
	background-color: #eee;
	height: 800px;
	
}

.rounded-collection{
	border-radius: 8px;
}

#site-title{
	font-size: 3em;
	margin-left: 1em;
	display: inline-block;
	vertical-align: top;
	font-style: italic;
}

#option-content-wrapper{

}

#sites-menu{
	height: 100%;	
}

#sites{
	height: 90%;
	overflow-y: auto;
}

#client-site{
	color: teal;
}

#client-site:hover{
 	background-color: teal;
 	color: #eee;
}

#user-actions{
	padding: 1em;
}



#website-options #options a{
	color: white;
	text-shadow: 0px 0px 1px black;
	
}
		
#side-nav li{
	color: teal;
}

#nav-wrapper{
	min-width: 500px;
	overflow-x: scroll;
}
#inside-content{
	margin-top: 1em;
}